#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball { scroll-layers = <5>; };

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };

        leftClick {
            bindings = <&mkp LCLK>;
            key-positions = <18 19>;
            timeout-ms = <0>;
        };

        jp {
            bindings = <&to 2>;
            key-positions = <39 38>;
        };

        us {
            bindings = <&to 0>;
            key-positions = <41 40>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        to_jp: to_us {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 2>;     // US_Symbols
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // 0: 共通ベース

        Default_layer {
            bindings = <
&kp Q             &kp W         &kp E         &kp R        &kp T                                          &kp Y      &kp U  &lt 5 I    &kp O    &kp P
&mt LCTRL A       &kp S         &kp D         &kp F        &kp G        &kp LS(LG(S))      &kp MINUS      &kp H      &kp J  &kp K      &kp L    &kp SINGLE_QUOTE
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V        &kp B        &kp COLON          &kp SEMICOLON  &kp N      &kp M  &kp COMMA  &kp DOT  &mt RIGHT_SHIFT SLASH
&kp LCTRL         &kp LEFT_WIN  &kp LEFT_ALT  &lt 7 LANG2  &lt 1 SPACE  &lt 6 LANG1        &kp BACKSPACE  &kp ENTER                             &mt RCTRL DEL
            >;

            sensor-bindings = <&inc_dec_kp PAGE_DOWN PAGE_UP>;
        };

        // 1: 英語用NUM

        US_NUM {
            bindings = <
&kp MINUS                &kp NUMBER_7   &kp NUMBER_8      &kp N9        &kp PLUS                                      &kp EXCLAMATION  &kp AT_SIGN  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp AMPERSAND
&kp SLASH                &kp NUMBER_4   &kp NUMBER_5      &kp NUMBER_6  &kp ASTERISK  &kp C_MUTE      &kp UNDERSCORE  &kp HASH         &kp DOLLAR   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp DOUBLE_QUOTES
&mt LEFT_SHIFT NUMBER_0  &kp NUMBER_1   &kp NUMBER_2      &kp NUMBER_3  &kp PERIOD    &kp EQUAL       &kp TILDE       &kp PERCENT      &kp CARET    &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp QMARK
&trans                   &kp LESS_THAN  &kp GREATER_THAN  &trans        &trans        &trans          &kp BACKSLASH   &trans                                                                     &kp PIPE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        // 2: 日本語環境用記号上書き

        JP_Symbols {
            bindings = <
&trans  &trans  &trans  &trans  &trans                              &trans  &trans  &lt 5 I  &trans  &trans
&trans  &trans  &trans  &trans  &trans       &trans       &trans    &trans  &trans  &trans   &trans  &kp LS(N7)
&trans  &trans  &trans  &trans  &trans       &kp SQT      &kp SEMI  &trans  &trans  &trans   &trans  &trans
&trans  &trans  &trans  &trans  &lt 3 SPACE  &trans       &trans    &trans                           &trans
            >;
        };

        // 3: 日本語用NUM

        JP_NUM {
            bindings = <
&kp MINUS     &kp N7         &kp N8          &kp N9  &kp LS(SEMI)                                    &kp LS(N1)  &kp LBKT    &kp LS(N8)    &kp LS(N9)    &kp LS(N6)
&kp SLASH     &kp N4         &kp N5          &kp N6  &kp LS(SQT)   &kp C_MUTE         &kp LS(INT1)   &kp LS(N3)  &kp LS(N4)  &kp RBKT      &kp NUHS      &kp LS(N2)
&mt LSHFT N0  &kp N1         &kp N2          &kp N3  &kp DOT       &kp LS(MINUS)      &kp LS(EQUAL)  &kp LS(N5)  &kp EQUAL   &kp LS(RBKT)  &kp LS(NUHS)  &kp LS(SLASH)
&trans        &kp RS(COMMA)  &kp RS(PERIOD)  &trans  &trans        &trans             &kp INT1       &trans                                              &kp LS(INT3)
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        // 4: MOUSE

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                &trans
            >;
        };

        // 5: SCROLL

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        // 6: ARROW

        ARROW {
            bindings = <
&kp ESCAPE  &kp PAGE_DOWN    &kp UP_ARROW    &kp PAGE_UP      &kp HOME                                &trans          &trans          &trans        &trans           &trans
&kp TAB     &kp LEFT_ARROW   &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp END   &trans           &trans       &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans
&trans      &kp LC(LS(TAB))  &kp LC(TAB)     &kp LS(TAB)      &trans    &kp LG(TAB)      &kp RG(TAB)  &trans          &trans          &trans        &trans           &trans
&trans      &trans           &trans          &trans           &trans    &trans           &trans       &trans                                                         &trans
            >;
        };

        FUNK_BT {
            bindings = <
&bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                           &kp F1  &kp F2  &kp F3  &kp F4  &kp F5
&trans          &trans        &trans        &trans        &trans        &trans           &trans  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10
&bt BT_CLR      &trans        &trans        &trans        &trans        &bootloader      &trans  &trans  &trans  &trans  &trans  &kp F11
&bt BT_CLR_ALL  &trans        &trans        &trans        &trans        &trans           &trans  &trans                          &kp F12
            >;
        };
    };
};
